@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/alegreya/v7/MYFQxfgoxFvFirdbdLj3M3YhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/alegreya/v7/F5BSMOSf_T8GT2wiqqpj3brIa-7acMAeDBVuclsi6Gc.woff') format('woff');
}

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/BebasNeue Book.ttf') format('truetype');
}