$global-font-size: 100% !default;

// Colors
// ----------
$white: #ffffff;
$black: #000000;

$color-primary: #ac56bc;
$color-secondary: #312d2b;
$font-color-light: #b8b3b0;
$font-color-dark: #333333;

// Widths
// --------
$container-width: 1160px;