$global-font-size: 100% !default;
$base-font-family: 'Alegreya';
$base-font-weight: 400;
$base-font-size: 14px;

// Colors
// ----------
$white: #ffffff;
$black: #000000;
$color-dark: #333333;
$color-primary: #352e2a;
$color-secondary: #ac56bc;
$text-color-dark: #484848;
$text-color-light: #b8b3b0;
$color-creame: #f7f7f7;
$lightgray: #dedede;
$gray: #f7f7f7;

// Sizes
// ------
$container-width: 1140px;

// Animations
// ----------
$base-animation-time: 320ms;
$image-hover-animation: cubic-bezier(.23, 1, .32, 1);
$cubic-transition: cubic-bezier(.25, .8, .25, 1);
