// Banner
// -------
.c-banner {
  height: 510px;
  background: {
    image: url('../images/banner.jpg');
    position: top center;
    repeat: no-repeat;
    size: contain;
    attachment: fixed;
  };
}
