*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: $container-width;
    padding: 0 15px;
}
